.pokemon-card {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }
  
  .pokemon-card img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  
  .pokemon-card img[type-icon] {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  .pokemon-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .pokemon-card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7),
                0 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  .pokemon-card img {
    transition: transform 0.3s ease;
  }
  
  .pokemon-card:hover img {
    transform: scale(1.2);
  }