html {
  background-color: rgb(5, 23, 30);
}

body {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(5, 23, 30);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: rgb(8, 32, 41);
  color: white;
  padding: 10px 0;
  text-align: center;
}

header img {
  width: auto;
  height: 100%;
  margin-left: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(8, 32, 41);
}

.pokemon-card {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 150px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
}





